.card-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.device-card {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 800px;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.flex-item {
  margin: 10px !important;
}
